In [1]:
import pandas as pd
df_train_data = pd.read_csv('/Users/alexshienhowkhoo/Documents/NTU_BCG/NTU_BCG_Y3S1/Others/SC4000_Machine_Learning/SC4000_Project/SC4000_Machine_Learning/data_1920/merged_train.csv')
df_train_data

                image_id  labels
0          723977410.jpg       3
1         3193577634.jpg       1
2         3349107107.jpg       3
3         2933959901.jpg       0
4         3020460837.jpg       4
...                  ...     ...
27048     1778392170.jpg       2
27049     2495608764.jpg       3
27050      698646619.jpg       4
27051      297559984.jpg       3
27052  train-cmd-557.jpg       3

[27053 rows x 2 columns]

In [3]:
unique_labels = df_train_data.labels.value_counts()
num_unique_labels = unique_labels.nunique()

In [4]:
print(unique_labels)

labels
3    15816
1     3632
2     3159
4     2893
0     1553
Name: count, dtype: int64